 .toolBarContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   max-width: 1368px;
   margin-top: 5px;
   background-color: #f2f2f2;
 }

 .tooBarItem {
   font-family: sans-serif;
 }

 .toolBarItem:hover {
   background: #e7e7e7;
 }

 .toolBarItem:active {
   background: #6aabff;   
 }

 .itemGroupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 }
 .itemGroupContainer::after {
  content: '';
  display: block;
  width: 2px;
  height: 36px;
  border: 1px solid #f2f2f2;
  border-radius: 1px;
  background-color: #8f8f8f;
 }


