.RightBarContainer {
  grid-area: RightBarContainer;
  background-color: #F1F1F1;
  text-align: left;
}

.RightBarContainer__inner {
  margin: 20px 20px 20px 20px;
  text-align: left;
}

.RightBarContainer__form-group {
  margin: 0 0 10px 0;
}

.RightBarContainer__form-group_flex {
  margin: -10px 0 10px 0;
  display: flex;
  align-items: center;
}

.RightBarContainer__form-group_hide {
  display: none;
}

.RightBarContainer__label {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  display: block;
  width: 100%; 
}

.RightBarContainer__inputText{
  margin: 0 0 0 0;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.035em;
  font-weight: 400;
}

.RightBarContainer__textarea{
  margin: 0 0 0 0;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.035em;
  font-weight: 400;
  resize: none;
  width: 100%;
  height: 20vh;
}

.RightBarContainer__inputText_number{
  width: 20px;
}

.RightBarContainer__btn {
  font-weight: 600;
  color: black;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 7px;
  transition: 0.2s;
  min-width: 70px;   
}

.RightBarContainer__btn_second {
  margin: 0 0 0 5px;   
}

.RightBarContainer__btn_size {
  min-width: 20px;   
}

.RightBarContainer__btn_hidden {
  display: none;   
}