.btn {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-family: sans-serif;
}

.btn:hover {
  background: #e7e7e7;
}

.btn:disabled {
  background-color: #cccccc;
  cursor:not-allowed !important;
}

.btn:active {
  background: #6aabff;
}

.btn_active {
  background: #6aabff;
}

.btn_add::before {
  background: transparent;
  content: url(/src/images/icons/rounded/add.svg);
}

.btn_export::before {
  background: transparent;
  content: url(/src/images/icons/rounded/export.svg);
}

.btn_play::before {
  background: transparent;
  content: url(/src/images/icons/rounded/play.svg);
}

.btn_undo::before {
  background: transparent;
  content: url(/src/images/icons/rounded/undo.svg);
}

.btn_redo::before {
  background: transparent;
  content: url(/src/images/icons/rounded/redo.svg);
}

.btn_copy::before {
  background: transparent;
  content: url(/src/images/icons/rounded/copy.svg);
}

.btn_paste::before {
  background: transparent;
  content: url(/src/images/icons/rounded/paste.svg);
}

.btn_select::before {
  background: transparent;
  content: url(/src/images/icons/rounded/select.svg);
}

.btn_text::before {
  background: transparent;
  content: url(/src/images/icons/rounded/text_box.svg);
}

.btn_image::before {
  background: transparent;
  content: url(/src/images/icons/rounded/image.svg);
}

.btn_circle::before {
  background: transparent;
  content: url(/src/images/icons/rounded/circle.svg);
}

.btn_rectangle::before {
  background: transparent;
  content: url(/src/images/icons/rounded/rectangle.svg);
}

.btn_triangle::before {
  background: transparent;
  content: url(/src/images/icons/rounded/triangle.png);
}

.btn_fontFamily {
  background-color: white;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  border: 1px solid #dad8d8;
  width: 128px;
  text-align: center;
}

.btn_fontSize {
  background-color: white;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  border: 1px solid #dad8d8;
  width: 60px;
  text-align: center;
}

.btn_fontSize::after {
  background: transparent;
  content: url(/src/images/icons/rounded/drop_down.svg);
}

.btn_bold::before {
  background: transparent;
  content: url(/src/images/icons/rounded/bold.svg);
}

.btn_italic::before {
  background: transparent;
  content: url(/src/images/icons/rounded/italic.svg);
}

.btn_underlined::before {
  background: transparent;
  content: url(/src/images/icons/rounded/underlined.svg);
}

.btn_textColor::before {
  background: transparent;
  content: url(/src/images/icons/rounded/text_color.svg);
}

.btn_bckgImg::before {
  background: transparent;
  content: url(/src/images/icons/rounded/background_image.svg);
}

.btn_palette::before {
  background: transparent;
  content: url(/src/images/icons/rounded/palette.svg);
}

.btn_fillColor::before {
  background: transparent;
  content: url(/src/images/icons/rounded/fill_color.svg);
}

.btn_borderColor::before {
  background: transparent;
  content: url(/src/images/icons/rounded/border_color.svg);
}

.btn_borderWeight::before {
  background: transparent;
  content: url(/src/images/icons/rounded/border_weight.svg);
}

.btn_newFile::before {
  background: transparent;
  content: url(/src/images/icons/rounded/note_add.svg);
}

.btn_openFile::before {
  background: transparent;
  content: url(/src/images/icons/rounded/file_open.svg);
}

.btn_saveFile::before {
  background: transparent;
  content: url(/src/images/icons/rounded/save_file.svg);
}

.btn_checklist::before {
  background: transparent;
  content: url(/src/images/icons/rounded/checklist.svg);
}

.btn_deleteSlide::before {
  background: transparent;
  content: url(/src/images/icons/rounded/remove_circle.svg);
}