.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    max-height: 50%;
    width: 30%;
    transform: scale(0.5);
    transition: 0.3s all;
    color: #8f8f8f;
    margin: 0 0 20vh 0;
}

.modal__content.active {
    transform: scale(1);
}

.header__title {
    float: left;
    margin: 0;
}

.header__closeBtn {
    font-size: 21px;
    float: right;
    color: #8f8f8f;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.content__body {
    text-align: left;
    padding: 0 5px 0 5px;
}

.clear {
    width: 100%;
    clear: both;
}

.modal__content hr {
    height: 0;
	border: none;
	border-top: 1px solid #8f8f8f;
}

.footer__alignOneButton {
    text-align: center;
}

.footer__alignTwoButton {
    text-align: right;
}

.footer__btn {
    font-weight: 600;
    color: black;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 7px;
    transition: 0.2s;
    min-width: 70px;
    margin: 0 5px;   
}

.footer__btn_ok {
    background: #00808075;
}
.footer__btn_ok:hover { 
    background: #008080fa; 
}
.footer__btn_ok:active {
    background: #008080fa;
}

.footer__btn_cancel {
    background: #E2E2E2;
}

.footer__btn_cancel:hover { 
    background: #e2e2e29a; 
}

.footer__btn_cancel:active {
    background: #e2e2e2c5;
}

.documentError {
    color: #f55f4c;
    font-size: 14px;
}
