.Editor {
  display: grid;
  grid-template-columns: 20% 65% 14.9%;
  grid-template-rows: 56px 48px calc(100vh - 144px) 40px;
  grid-template-areas:
  "Header Header Header"
  "Top Top Top"
  "FilmstripContainer WorkspaceContainer RightBarContainer"
  "Footer Footer Footer";
  grid-gap: 1px;
  text-align: center;
  background-color: #E2E2E2;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: 400;
  min-width: 800px;
  height: 100vh;
  overflow-y: hidden;
}




